[submodule "data_handler/cgal_libs/cgal_server/hclust-cpp"]
	path = data_handler/cgal_libs/cgal_server/hclust-cpp
	url = git@github.com:sayefsakin/hclust-cpp.git
[submodule "data_handler/cgal_libs/cgal_server/eseman"]
	path = data_handler/cgal_libs/cgal_server/eseman
